In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import os
import pickle

In [3]:
path="C:\\Users\\Lenovo\\Desktop\\Sanket_backup\\Mhack\\"

In [4]:
df=pd.read_parquet(r"C:\Users\Lenovo\Desktop\Sanket_backup\Mhack\drive\drive_1557398801351_trip_1557398302922_part-00000-tid-4787120893022696848-4897608f-5b93-42b5-a8ab-e90f5cadf0bf-1853-c000.snappy.parquet",engine="pyarrow")

In [5]:
len(df.columns.tolist())

12

In [6]:
drive_col=df.columns.tolist()
drive_col

['vehicle_id',
 'trip_id',
 'datetime',
 'velocity',
 'accel_x',
 'accel_y',
 'accel_z',
 'engine_coolant_temp',
 'eng_load',
 'fuel_level',
 'iat',
 'rpm']

In [7]:
df=pd.read_parquet(r"C:\Users\Lenovo\Desktop\Sanket_backup\Mhack\trip\trip_1557398259127_part-00000-tid-4787120893022696848-4897608f-5b93-42b5-a8ab-e90f5cadf0bf-1853-c000.snappy.parquet",engine="pyarrow")

In [8]:
len(df.columns.tolist())

6

In [9]:
trip_col=df.columns.tolist()
trip_col

['vehicle_id', 'trip_id', 'datetime', 'lat', 'long', 'velocity']

In [10]:
df_drive=pd.DataFrame(columns=drive_col)
df_trip=pd.DataFrame(columns=trip_col)

In [11]:
for j in os.listdir(path + "drive"):
    df=pd.read_parquet(path+"drive"+ "\\" +str(j),engine="pyarrow")
    df_drive=pd.concat([df_drive,df],ignore_index=True)

In [12]:
df_drive.shape

(9217528, 12)

In [13]:
for j in os.listdir(path + "trip"):
    df=pd.read_parquet(path+"trip"+ "\\" +str(j),engine="pyarrow")
    df_trip=pd.concat([df_trip,df],ignore_index=True)

In [14]:
df_trip.shape

(9217528, 6)

In [15]:
df_drive.head()

,vehicle_id,trip_id,datetime,velocity,accel_x,accel_y,accel_z,engine_coolant_temp,eng_load,fuel_level,iat,rpm
0,1000515,db3c08b01205459294bbc91e3f7dfeb6,2017-01-06 23:00:00,0.00,50.0,65.13,87.92,150.70,192.88,118.66,95.0,2107.44
1,1000515,db3c08b01205459294bbc91e3f7dfeb6,2017-01-06 23:00:01,47.49,51.0,72.34,83.78,154.76,196.04,116.69,100.0,2119.17
2,1000515,db3c08b01205459294bbc91e3f7dfeb6,2017-01-06 23:00:02,57.94,50.0,69.20,87.73,165.50,196.01,105.46,90.0,2112.32
3,1000515,db3c08b01205459294bbc91e3f7dfeb6,2017-01-06 23:00:03,57.50,48.0,70.83,84.95,157.32,193.31,110.35,90.0,2092.94
4,1000515,db3c08b01205459294bbc91e3f7dfeb6,2017-01-06 23:00:04,52.29,47.0,70.22,92.90,151.00,189.49,104.25,97.0,2117.87

In [16]:
df_trip.head()

,vehicle_id,trip_id,datetime,lat,long,velocity
0,1000504,192637d8a8a841dd85942a5ada12c50a,2017-01-02 21:00:00,32.3125,-85.062500,0.00
1,1000504,192637d8a8a841dd85942a5ada12c50a,2017-01-02 21:00:01,32.3125,-85.062222,59.88
2,1000504,192637d8a8a841dd85942a5ada12c50a,2017-01-02 21:00:02,32.3125,-85.061944,76.93
3,1000504,192637d8a8a841dd85942a5ada12c50a,2017-01-02 21:00:03,32.3125,-85.061667,75.10
4,1000504,192637d8a8a841dd85942a5ada12c50a,2017-01-02 21:00:04,32.3125,-85.061389,48.01

In [68]:
df_drive.isnull().sum()

vehicle_id             0
trip_id                0
datetime               0
velocity               0
accel_x                0
accel_y                0
accel_z                0
engine_coolant_temp    0
eng_load               0
fuel_level             0
iat                    0
rpm                    0
dtype: int64

In [47]:
df_drive.vehicle_id.value_counts()

1000501    582422
1000512    550954
1000508    523892
1000504    506860
1000518    503369
1000503    486321
1000515    473589
1000500    465277
1000513    464508
1000507    463529
1000502    459641
1000511    444609
1000509    440346
1000516    434958
1000510    431362
1000514    427853
1000505    424486
1000517    418277
1000519    389672
1000506    325603
Name: vehicle_id, dtype: int64

In [23]:
len(df_trip.vehicle_id.value_counts())

20

In [25]:
len(df_drive.trip_id.value_counts())

1708

In [26]:
len(df_trip.trip_id.value_counts())

1708

In [57]:
vehicle_trips

vehicle_id
1000500     82
1000501    109
1000502     85
1000503     96
1000504     99
1000505     74
1000506     68
1000507     90
1000508     87
1000509     79
1000510     81
1000511     88
1000512     95
1000513     79
1000514     79
1000515     90
1000516     78
1000517     80
1000518     88
1000519     81
Name: trip_id, dtype: int64

In [63]:
vehicle_trips=df_drive.groupby(["vehicle_id"]).trip_id.nunique().reset_index()